.containerHeader{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 20vh;
}

@media(max-width: 320px){

}