.containerRight {
  height: 80vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fogueteADN {
  width: 350px;
  height: 350px;
  position: relative;
  animation: moverFoguete 4s infinite;
}

@keyframes moverFoguete {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.titleRight {
  color: white;
  padding-bottom: 0px;
}
@media(max-width: 1024px){

}

@media(max-width: 768px){
  .containerRight{
    justify-content: center;
    align-items: center;
  }
  .fogueteADN{
    position: static;
    width: 200px;
    height: 200px;
    animation: none;
  }
}

@media(max-width: 425px){
  .containerRight{
    height: 20vh;
  }
  .fogueteADN{
    margin-top: 60px;
    position: static;
    width: 160px;
    height: 160px;
    animation: none;
  }
}

@media(max-width: 375px){
  .containerRight{
    height: 20vh;
  }
  .fogueteADN{
    margin-top: 60px;
    position: static;
    width: 160px;
    height: 160px;
    animation: none;
  }
}

@media(max-width: 320px){
  .containerRight{
    height: 20vh;
  }
  .fogueteADN{
    margin-top: 60px;
    position: static;
    width: 160px;
    height: 160px;
    animation: none;
  }
}