.containerMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 768px){
    .containerMain{
        height: 80vh;
        gap: 50px;
    }
}

@media(max-width: 425px){
    .containerMain{
        flex-direction: column-reverse;
        height: 80vh;
    }
}

@media(max-width: 375px){
    .containerMain{
        flex-direction: column-reverse;
        height: 80vh;
    }
}

@media(max-width: 320px){
    .containerMain{
        flex-direction: column-reverse;
        height: 80vh;
    }
}