.containerMain{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 420px){
    .containerMain{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 320px){
    .containerMain{
        display: flex;
        flex-wrap: wrap;
    }
}