.containerNavbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
}

.linkNavbar {
  font-size: 17px;
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  color: white;
  text-decoration: none;
}

.linkNavbar::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.linkNavbar:hover::before {
  width: 100%;
}


@media (max-width: 320px){
  .linkNavbar {
    font-size: 12px;
  }
}