.containerNavbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
}

.linkNavbar {
  color: white;
  text-decoration: none;
}

.containerNavbar p {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.containerNavbar p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.2s;
  transform-origin: left;
}

.containerNavbar p:hover::before {
  width: 100%;
}

@media (max-width: 320px){
  .containerNavbar p {
    font-size: 12px;
  }
}