.containerLogo {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 80px;
}

.titleLogo {
  color: white;
  font-size: 22px;
}

@media (max-width: 320px) {
  .titleLogo {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .containerLogo {
    position: static;
    padding-right: 20px;
  }
}
